.custom-button {
  font-family: "Poppins", sans-serif;
  padding: 5px;
  border: 2px solid rgb(36, 36, 36);
  background-color: white;
  color: rgb(36, 36, 36);
  font-weight: bold;
  transition-duration: 0.3s;
  width: 160px;

  &:hover {
    color: white;
    background-color: rgb(36, 36, 36);
  }

  &.wide {
    margin-top: 20px;
    width: 100%;
  }

  &.remove {
    background-color: white;
    margin: 0 auto;
    border: 1px solid rgb(36, 36, 36);
    width: 80px;
    font-size: small;
    padding: 0;

    &:hover {
      color: black;
      background-color: rgba(255, 23, 23, 0.5);
    }
  }
}
