.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 15px 0px 15px;
  font-family: "Poppins", sans-serif;
}

.cart-item-title {
  font-size: smaller;
}

.cart-item-price {
  font-size: smaller;
}
