.menu-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-button-container {
  position: relative;
  bottom: 15px;
  left: 20px;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 250px;
  margin: 20px 0px;
}

@media screen and (max-width: 768px) {
  .menu-list-container {
    justify-content: space-around;
  }
}
