.img {
  height: 250px;
  width: 250px;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid rgba(230, 230, 230, 0.8);
}

.img:hover {
  opacity: 0.85;
}

.text {
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-item-container {
  width: 250px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 25px;
  background-color: rgba(230, 230, 230, 0.4);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;

  .subtitle {
    margin: 10px 0px;
    font-size: small;
    height: 50px;
  }

  .price {
    margin-bottom: 15px;
  }

  .full-price {
    margin-bottom: 25px;
  }
}
