.img {
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  grid-area: img;
  margin: auto auto auto 0;
  margin-top: 25px;
}

.img:hover {
  opacity: 0.85;
}

.text {
  grid-area: text;
  align-items: left;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  margin-left: 30px;
}

.add-container {
  width: 400px;
  display: grid;
  height: 250px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "img text text text";
  border-top: 1px solid rgba(100, 100, 100, 0.4);
}
