/*
cart-item-container
image
text div
button
*/

.cart-item-container {
  padding: 20px;
  background-color: rgba(216, 216, 216, 0.4);
  margin: 25px;

  .cart-item-text {
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  .full-price {
    margin-bottom: 15px;
  }

  img {
    height: 250px;
    width: 250px;
  }
}
